.container {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.containeritem {
    width: 100%;
}

.carousel {
    height: 500px;
}

@media (max-width: 40rem) {
    .container {
        width: 100%;
    }
}
