.container {
    padding: 10px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.containeritem {
    width: 100%;
}

@media (max-width: 40rem) {
    .container {
        width: 100%;
    }
}
